[submodule "address-service"]
	path = address-service
	url = https://github.com/csci318-online-food/mujiki-ordering-address-service
[submodule "user-service"]
	path = user-service
	url = https://github.com/csci318-online-food/mujiki-ordering-user-service
[submodule "restaurant-service"]
	path = restaurant-service
	url = https://github.com/csci318-online-food/mujiki-ordering-restaurant-service
[submodule "authentication-service"]
	path = authentication-service
	url = https://github.com/csci318-online-food/mujiki-ordering-authentication-service
[submodule "cart-service"]
	path = cart-service
	url = https://github.com/csci318-online-food/mujiki-ordering-cart-service
[submodule "feedback-service"]
	path = feedback-service
	url = https://github.com/csci318-online-food/mujiki-ordering-feedback-service
[submodule "item-service"]
	path = item-service
	url = https://github.com/csci318-online-food/mujiki-ordering-item-service
[submodule "payment-service"]
	path = payment-service
	url = https://github.com/csci318-online-food/mujiki-ordering-payment-service
[submodule "order-service"]
	path = order-service
	url = https://github.com/csci318-online-food/mujiki-ordering-order-service
